<%= render 'shared/page_title', title: "#{@chef.chefname}'s Profile" %>

<div class="container bg-faded">
  <div class="text-center">
    <div class="">
      <%= gravatar_for @chef, size: 150 %>
    </div>
  </div>
</div>

<% if @chef.recipes.count != 0 %>

  <h4 align="center"><%= @chef.chefname %>'s Recipes</h4>
  <div class="pagination justify-content-center">
    <%= will_paginate @chef_recipes %>
  </div>
  
  <%= render 'recipes/recipe', obj: @chef_recipes %>
  
  <div class="pagination justify-content-center">
    <%= will_paginate @chef_recipes %>
  </div>
<% else %>
  <h4 align="center"><%= @chef.chefname %> has no recipes yet!</h4>
  <p align="center"><%= link_to "Create one now!", new_recipe_path %></p>
  
<% end %>