<%= render 'shared/errors', obj: @recipe %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form_for @recipe do |f| %>
        <div class="field">
          <%= f.label :name %><br/>
          <%= f.text_field :name, class: 'form-control' %>
          
           <div class="field">
            <%= f.label :directions %><br/>
            <%= f.text_area :directions, rows: 6, class: 'form-control'%>
          </div>
  
          <h3>Ingredients</h3>
          <div id='ingredients'>
            <%= f.fields_for :ingredients do |ingredient| %>
              <%= render 'ingredient_fields', :f => ingredient %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association 'add ingredient', f, :ingredients %>
            </div>
          </div>
          
          <%= f.submit 'Save', class: 'btn btn-primary' %>
        <% end %>
        </div>
      
      </div>
    </div>
  </div>
  
</div>

  
 




